body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, pink, lightcoral);
    color: white;
}

.container {
    margin-top: 100px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: crimson;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(79, 5, 19);
    color: white;
}